:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --bg-color: #312e81;
  --bg-dark: #000854;
  --bg-light: #6357b1;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.logo {
  height: 70px;
  margin-left: 10px;
}

.navbar-items {
  background: linear-gradient(
    90deg,
    rgb(1, 0, 10),
    rgba(73, 63, 252, 1) 100%
  );
  /* position: fixed; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 26px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-left: 10rem;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.nav-links a:hover {
  /*background: rgb(142, 130, 245);*/
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 1060px) {
  .nav-menu {
    display: none;
  }
  h1.navbar-logo {
    display: none;
  }
}

/* Home */

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.home-title {
  padding: 20px;
}
.heading {
  padding: 20px;
  border: #000 solid black 5px;
  
}
.home-stats {
  padding: 20px;
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .home-title {
    font-size: 1.4rem !important;
  }
  .show-more {
    font-size: 1.3rem !important;
  
  }
}
.show-more {
  font-size: 1.3rem !important;
  padding-right: 20px;}


/*Cryptocurrencies*/

.crypto-card-container {
  min-height: 65vh !important;
  padding: 20px;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}
/*News*/

.news-container {
  padding: 20px;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
  padding: 20px;
}
.news-title {
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

/* Crypto-card */

.select-timeperiod {
  width: 200px !important;
  margin: 20px !important;
}
.filter-by {
  width: 200px !important;
  margin-top: 20px !important;
}
.coin-detail-container {
  margin: 30px;
  padding: 20px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--bg-dark);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

/* Loader */

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
